apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: motivational-app
  namespace: alaa 
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://github.com/alaaynassar7/end-to-end-devops-project-v2.git'
    targetRevision: main
    path: motivational-app-chart 
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: alaa 
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true